.nav-files-container .collapse-icon svg {
  display: none;
}

/* PASTAS */

.nav-files-container .collapse-icon {
  background-color: var(--text-accent)!important;
  -webkit-mask-image: url("https://api.iconify.design/icon-park-twotone:folder-open.svg?color=%237f8fad&height=22");
  -webkit-mask-size: contain;
}

.nav-files-container .collapse-icon.is-collapsed {
  -webkit-mask-image: url("https://api.iconify.design/icon-park-twotone:folder-close.svg?color=%237f8fad&height=22");
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

/* --- PDF --- */
.tree-item-self.nav-file-title[data-path$=".pdf"]::before {
  content: "";                    
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-right: 10px;


  background-color: #ef5350 !important; /*Aqui você deleta ou muda a cor, se quiser que a cor fique a mesma dos links coloque var(--text-accent)!important;*/

  -webkit-mask-image: url("https://api.iconify.design/material-icon-theme:pdf.svg");
  background-size: contain;
  -webkit-mask-repeat: no-repeat;
}

/* --- MARKDOWN - NOTA  --- */
.tree-item-self.nav-file-title[data-path$=".md"]::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-right: 10px;


  background-color: #d1d1d1 !important; /*Aqui você deleta ou muda a cor, se quiser que a cor fique a mesma dos links coloque var(--text-accent)!important;*/

  -webkit-mask-image: url("https://api.iconify.design/icon-park-twotone:notes.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;

}

/* --- PNG --- */
.tree-item-self.nav-file-title[data-path$=".png"]::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-right: 10px;

  background-color: #ff48dd !important; /*Aqui você deleta ou muda a cor, se quiser que a cor fique a mesma dos links coloque var(--text-accent)!important;*/
  -webkit-mask-image: url("https://api.iconify.design/tabler:file-type-png.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;

}

/* --- JPG --- */
.tree-item-self.nav-file-title[data-path$=".jpg"],
.tree-item-self.nav-file-title[data-path$=".jpeg"] {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-right: 10px;

  background-color: #d348ff !important; /*Aqui você deleta ou muda a cor, se quiser que a cor fique a mesma dos links coloque var(--text-accent)!important;*/
  -webkit-mask-image: url("https://api.iconify.design/uiw:file-jpg.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;

}

/* --- WEBP --- */
.tree-item-self.nav-file-title[data-path$=".webp"]::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-right: 10px;

  background-color: #cdd249 !important; /*Aqui você deleta ou muda a cor, se quiser que a cor fique a mesma dos links coloque var(--text-accent)!important;*/
  -webkit-mask-image: url("https://api.iconify.design/iconoir:webp-format.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;

  mask-image: url("https://api.iconify.design/iconoir:webp-format.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
}
