:root {
  --highlight: #ffffff;
  --primary: #aaaaaa;
  --dark: #333333;
  --test-color: #800000;

}

.periodic {
  --dark: var(--dark);
  color: var(--highlight);
  background-color: var(--dark);
  --text-normal: var(--highlight);
  --text-muted: var(--highlight);
  --text-faint: var(--highlight);
  --checklist-done-color: var(--highlight);
  --metadata-label-text-color: var(--highlight);
  --metadata-input-text-color: var(--highlight);
  --tag-color: var(--highlight);
  --tag-background: var(--primary);
  --hr-color: var(--highlight);
  --blockquotoe-border-color: var(--highlight);
  --interactive-accent: var(--highlight);
  --collapse-icon-color-collapse: var(--highlight);
  --checkbox-color: var(--highlight);
  --checkbox-marker-color: var(--highlight);
  --checkbox-color-hover: var(--highlight);
  --check-border-color: var(--highlight);
  --list-marker-color: var(--highlight);
  --code-background: var(--dark);
  --code-normal: var(--dark);

  --background-modifier-border-focus: var(--highlight);
  --background-modifier-border: color-mix(in srgb, var(--primary) 60%, transparent);
  --background-modifier-hover: color-mix(in srgb, var(--primary) 60%, transparent);
  --pill-cover-hover: color-mix(in srgb, var(--primary) 60%, transparent);
}

.sunday {
  --highlight: #DC143C;
  --primary: #8B0000;
  --dark: #2c0101;
}
.monday {
  --highlight: #6495ED;
  --primary: #0000FF;
  --dark: #01012c;
}
.tuesday {
  --highlight: #00FF7F;
  --primary: #008000;
  --dark: #011a01;
}
.wednesday {
  --highlight: #FFD700;
  --primary: #FFFF00;
  --dark: #2c1404;
}
.thursday {
  --highlight: #FF7F50;
  --primary: #FFA500;
  --dark: #411100;
}
.friday {
  --highlight: #6495ED;
  --primary: #191970;
  --dark: #00002c;
}
.saturday {
  --highlight: #f39caa;
  --primary: #800000;
  --dark: #100305;
}

.periodic :is(h1, .HyperMD-header.HyperMD-header-1) {
  color: var(--highlight);
  text-align: center;
  font-size: 60px;
  font-family: "Gill Sans", "sans-serif";
  padding: 0 !important;
}

.periodic :is(h2, .HyperMD-header.HyperMD-header-2) {
  color: var(--highlight);
  text-align: center;
  font-size: 45px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0 !important;
}


.periodic :is(h3, .HyperMD-header.HyperMD-header-3) {
  color: var(--highlight);
  text-align: center;
  font-size: 45px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 0 !important;
}

.periodic :is(h4, .HyperMD-header.HyperMD-header-4) {
  background-color: var(--primary);
  color: var(--dark);
  border-color: var(--highlight);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 0;
  font-size: 20px;
  width: fit-content;
  padding-left: 6px;
  padding-right: 6px;
  border: solid;
  border-radius: 8px;
  border-width: 2px;
  word-wrap: normal;
}

.periodic p {
  margin-top: 4px;
  margin-bottom: 4px;
}

.periodic :is(a:link, .cm-hmd-internal-link) {
  color: var(--highlight);
}

.periodic :is(a:hover, .cm-hmd-internal-link:hover) {
  color: var(--highlight);
}

.periodic hr {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.periodic img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

:is(.sunday, .monday, .tuesday, .thursday, .friday, .saturday, .sunday)
svg {
  color: color-mix(in srgb, var(--primary) 60%, transparent);
}